@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* **********     Reset CSS     ********** */
:root {
    --main-font: sans-serif;
    --font-size: 16px;
    --container-width: 1200px;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

img,
video {
    max-width: 100%;
    height: auto;
}

.buttonMenu {
    padding: 0.5em 1.5em;
    border: 3px solid #008248;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #008248;
}

.buttonMenu::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #008248;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.buttonMenu:hover::before {
    width: 105%;
}

a .buttonMenu{
    text-decoration: none;
    color: black;
}
a:hover .buttonMenu{
    color: white;
    cursor: pointer;
}



/* ************ Header ********** */

.header{
    padding: 1rem;
    width: 100%;
    font-weight: 700;
}
.header_container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
}

.header_izq{
    display: flex;
}
.header_izq img{
    width: 50px;
}
.header_izq ul{
    display: flex;
}
.header_izq ul li{
    list-style: none;
}
.header_izq ul li a{
    text-decoration: none;
    color: black;
    margin-left: 15px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color:#008248;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: transform 0.3s ease;
}
.header_izq ul li a:hover .underline{
    transform: scaleX(1);
}
.underline.isMenuActive{
    transform: scaleX(1);
}


.header_der .shopping{
    position: relative;
    left: -5vw;
}

/* ************ Menu Hamburguesa ********** */

.panel-btn{
    display: none;
}

@media screen and (max-width: 620px){
    .panel{
        position: fixed;
        z-index: 998;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(51, 51, 51, 0.712);
        width: 100%;
        transition: transform 0.3s ease;
        /* De arriba */
        transform: translate(0, -100%);
        /* De abajo 
        transform: translate(0, 100%);*/
    }

    .panel.is-active{
        transform: translate(0, 0);
    }

    .panel-btn{
        position: fixed;
        z-index: 999;
        bottom: 1vh;
        right: 1vw;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #008248;
    }

    .header_izq .panel ul{
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }
    
    .header_izq .panel ul li a{
        padding: 2rem;
        text-align: center;
        width: 100vw;
        display: block;
        font-size: 2rem;
        text-decoration: none;
        transition: all 0.3s ease;
        background-color: white;
        margin-top: 10px;
    }
    
    .header_izq .panel ul li a:hover{
        font-weight: bold;
        color: white;
        background-color: #008248;
    }
}


/* title */

.title{
    background-color: #1e3932;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 2;
}
.title p, .title h1{
    font-size: 16px;
    font-weight: 700;
}

@media screen and (max-width: 620px){
    .title{
        display: flex;
        text-align: center;
    }
}


/* ********** Sections ************ */

.section{
    padding: 2rem;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
    min-height: 90vh;
    text-align: center;
}

/* Inicio */

.sectionColorContainer{
    background-color: #d4e9e2;
}

.inicio{
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.inicio_info{
    max-width: 60%;
}
.inicio_info h2{
    font-size: 50px;
    font-weight: 800;
}
.inicio_info p{
    font-size: 18px;
}

@media screen and (max-width: 620px){
    .inicio{
        display: flex;
        flex-direction: column;
    }
}

/* Section SobreNosotros */
.sobreNosotros h2, .contacto h2{
    font-size: 50px;
    font-weight: 800;   
}
.sobreNosotros p, .contacto p{
    font-size: 20px;
}


.marcas {
    width: 100%;
    margin-top: 2rem;
    padding: 5rem 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(to top, rgba(197, 177, 153, 0.8), rgba(197, 177, 153, 0.5)), url("../assets/img/marcas/fondo.jpg");
    border-top: 0.1px solid rgba(204, 198, 198, 0.4);
    box-shadow: 0px 1px 4px 2px #000;
    border-bottom: 3px solid #000;
}

.marcas img {
    max-width: 10rem;
    padding: 0 0.5rem;
    animation: slider 30s linear infinite;
}

/*Animacion section marcas */
@keyframes slider {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-250px);
    }
}

/* Section Contacto */

.redes{
    margin-top: 100px;
}

.redes a{
    color: black;
    font-size: 50px;
    margin-right: 26px;
    width: 40px;
    height: 40px;
    padding: 5px;
    transition: .5s;
}
.redes a:hover{
    transition: .5s;
    color: #1e3932;
}

/* Section Footer */

footer{
    background-color: #1e3932;
    text-align: center;
    color: white;
    padding: 10px;
}
footer h3{
    font-size: 30px;
}
footer a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}


/* MENU.html */

.menuMain{
    background-color: #d4e9e2;
}
.menuMain h2{
    margin-top: 0px;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

/* this is a recreation of twitter search in css */
.form {
    --input-text-color: #fff;
    --input-bg-color: #283542;
    --focus-input-bg-color: transparent;
    --text-color: #949faa;
    --active-color: #1b9bee;
    --width-of-input: 200px;
    --inline-padding-of-input: 1.2em;
    --gap: 0.9rem;
}

/* form style */
.form {
    margin-bottom: 30px;
    font-size: 0.9rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: var(--width-of-input);
    position: relative;
    isolation: isolate;
}

/* a fancy bg for showing background and border when focus. */
.fancy-bg {
    position: absolute;
    width: 100%;
    inset: 0;
    background: var(--input-bg-color);
    border-radius: 30px;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
/* label styling */

label {
    width: 100%;
    padding: 0.8em;
    height: 40px;
    padding-inline: var(--inline-padding-of-input);
    display: flex;
    align-items: center;
}

.search,.close-btn {
    position: absolute;
}

/* styling search-icon */
.search {
    fill: var(--text-color);
    left: var(--inline-padding-of-input);
}

/* svg -- size */
svg {
    width: 17px;
    display: block;
}

  /* styling of close button */
.close-btn {
    border: none;
    right: var(--inline-padding-of-input);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0.1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--active-color);
    opacity: 0;
    visibility: hidden;
}

  /* styling of input */
.input {
    /* color: var(--input-text-color); */
    color: black;
    width: 100%;
    margin-inline: min(2em,calc(var(--inline-padding-of-input) + var(--gap)));
    background: none;
    border: none;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    color: var(--text-color)
}

/* input background change in focus */
.input:focus ~ .fancy-bg {
    border: 1px solid var(--active-color);
    background: var(--focus-input-bg-color);
}

/* search icon color change in focus */
.input:focus ~ .search {
    fill: var(--active-color);
}

/* showing close button when typing */
.input:valid ~ .close-btn {
    opacity: 1;
    visibility: visible;
}

/* this is for the default background in input,when selecting autofill options -- you can remove this code if you do not want to override the browser style.  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

.products_container{
    background-color: white;
    box-shadow: 6px 0px 25px 0px rgba(0, 0, 0, 1);
    margin-bottom: 50px;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
}


.product{
    box-shadow:
    0px 0px 2.4px -3px rgba(0, 0, 0, 0.129),
    0px 0px 6.5px -3px rgba(0, 0, 0, 0.185),
    0px 0px 15.7px -3px rgba(0, 0, 0, 0.241),
    0px 0px 52px -3px rgba(0, 0, 0, 0.37);
    border-radius: 5px;
}
.product img{
    height: 50%;
}
.product h2{
    font-size: 30px;
    margin: 0;
}
.product .description{
    margin: 0;
    font-size: 20px;
    font-weight: 300;
}
.product .price{
    font-size: 25px;
    font-weight: 600;
}
.product button{
    background: black;
    color: white;
    font-size: 18px;
    padding: 4px;
    border-radius: 5%;
}
.product button:hover{
    cursor: pointer;
}
@media screen and (max-width: 620px){
    .products_container{
        width: 96vw;
    }
    .product{
        height: 480px;
        width: 100%;
    }
    .products{
        justify-items: center;
    }
    .form {
        font-size: 2rem;
        width: 100%;

    }
}

/* Cart */
.carrito{
    width: 45px;
    height: auto;
    position: absolute;
    cursor: pointer;
    font-size: 36px;
}

/* Clase que anadimos a #numero con javascript cuando tenemos un producto */
.disenoNumero {
    padding: 13px;
    background-color: #1e3932;
    color: white;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    font-size: 15px;
    position: relative;
    top: -12px;

    left: 30px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 918px){
    .carrito{
        left: -4vw;
    }
    .disenoNumero{
        left: -1vw;
    }
}

@media screen and (max-width: 620px){
    .carrito{
        left: -35vw;
    }
    .disenoNumero{
        left: -30vw;
    }
}

.contenedorCompra{
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0px;
    background-color: rgba(51, 51, 51, 0.6);
    flex-direction:column;
    gap:35px;
    transition: transform 0.3s ease;
    /* De arriba */
    transform: translate(0, -100%);
}
.contenedorCompra.isActive{
    transform: translate(0, 0);
}

.informacionCompra{
    width: 60%;
    height: 70%;
    background-color: #d4e9e2;
    border-radius: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
}


.informacionCompra h2{
    color: black;
    font-weight: 600;
    margin: 50px 0px 0px 50px;
    font-size: 32px;
    width: 100%;
}

.informacion p{
    font-weight: 600;
}

.informacion button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
}

.informacion button, .informacion button span {
    transition: 200ms;
}

.informacion button .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
}

.informacion button .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 30px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.informacion button svg {
    width: 15px;
    fill: #eee;
}

.informacion button:hover {
    background: #ff3636;
}

.informacion button:hover .text {
    color: transparent;
}

.informacion button:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
}

.informacion button:focus {
    outline: none;
}

.informacion button:active .icon svg {
    transform: scale(0.8);
}
.x{
    padding: 30px;
    cursor: pointer;
    font-size: 24px;
    color: red;
    font-weight: 800;
}

.productosCompra{
    font-size: 17px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
    height: 40%;
    overflow-y: auto;
    margin-top: 80px;
}


/* Este es el div que agregamos con js */

.productosCompra > div {
    margin: 0px 45px;
    padding: 20px 0px;
    width: auto;
    border-bottom: 1px dotted black;
    display: flex;
    justify-content: space-between;
}

.productosCompra::-webkit-scrollbar{
    width: 7px;
    background-color: #141C29;
    border-radius: 5px;
}

.productosCompra::-webkit-scrollbar-thumb{
    background: white ;
    border-radius: 3px;
}

.productosCompra img{
    width: 20%;
    height: auto;
    margin-right:10px;
    border-bottom: none ;
    cursor: pointer;
}
.productosCompra .informacion{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between
}

@media screen and (max-width: 918px){
    .productosCompra img{
        width: 30%;
    }
    .productosCompra > div{
        align-items: center;
    }
}


.total{
    z-index: 4;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 150px;
    font-size: 27px;
    font-weight: 700;
}

.total span{
    font-weight: 300;
}

.contenedorCompra .buttons{
    z-index: 6;
}

.contenedorCompra .buttons button{
    background-color: #000000;
    width: 300px;
    height: 45px;
    border-radius: 10px ;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: 300;
}

.contenedorCompra .buttons button:hover{
    cursor: pointer;
}
.contenedorCompra .buttons .limpiar:hover{
    cursor: pointer;
    background-color: red;
}

@media screen and (max-width: 1053px){
    .informacionCompra{
        width: 90%;
        height: 90%;
    }
    .contenedorCompra .buttons button{
        background-color: #000000;
        width: 100%;
        margin-top: 5px;
        height: 45px;
        border-radius: 10px ;
        border: none;
        color: white;
        font-size: 17px;
        font-weight: 300;
    }
    .productosCompra{
        font-size: 17px;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 80%;
        height: 60%;
        overflow-y: auto;
        margin-top: 80px;
    }
}

@media screen and (max-width: 620px){
    .contenedorCompra .buttons{
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: row;
    }
    .contenedorCompra .buttons button{
        background-color: #000000;
        height: 45px;
        width: fit-content;
        border-radius: 10% ;
        border: none;
        color: white;
        font-size: 17px;
        font-weight: 300;
    }
}

.none>div,
.none button, 
.none p{
    width: 0px;
    height: 0px;
    font-size: 0px;
    border: 0px;
}

.soldOut{
    background-color: red;
    padding: 7px 10px;
    border-radius: 10px;
}

.noProducts{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

